*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
}
body{
    background:rgb(233, 233, 233);
}
/*nav en general*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    padding: 5px 2%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 5px 8px -9px rgb(0, 0, 0,0.75) ;
}
/*nav partie de gauche*/
.logo{
    width: 50px;
}
.nav-left{
    display: flex;
    align-items: center;
}
.input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    width: 220px;
    margin-left:10px;
    border-radius: 999px;
}
.input .search{
    height: 20px;
}
.input input{
    border:none;
    background-color:transparent;
    outline-width:0;
}
/*nav partie du milieu*/
.nav-center{
    display: flex;
    flex:1;
    justify-content: center;
    width: 450px;
}

.milieu .icone{
    height: 35px;
    font-size: xx-large;
}

/*La ligne qui suit permet de mettre une couleur dans les icones du milieu*/

.milieu:hover .icone{
    color: #2e81f4;
}

.milieu{
    display: flex;
    align-items: center;
    padding: 0 35px;
    cursor: pointer;
}

.milieu.active{
    border-bottom: 4px solid #2e81f4;
}

.milieu:hover {
    background-color: #eff2f5;
    border-radius:10px;
    align-items: center;
    padding: 0 35px;
    border-bottom: none;
}

/*nav partie de droite*/

.droite{
    display: flex;
    align-items: center;

}

.nav-right{
    display: flex;
    align-items: center;

}

.nav-right .icons1, .icons2 , .icons3, .icons4{
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 5px;
    margin-left:3px;
    border-radius: 999px;
}

.icons2 ,.icons1{
    height: 25px;
}
.icons4{
    height: 40px;
}
.nav-right input{
    align-items: center;
    color: rgb(64, 137, 180);
    background-color: #dafff4;
    padding: 10px;
    margin-left:10px;
    border-radius: 999px;
    border:none;
    outline-width:0;
    height:20px;
    width: 90px;
}
/*container*/
.container{
    display: flex;
    justify-content:space-between;
    padding: 15px 5%;
}
.container{
    margin: 0px 0;
    background: white;
    width: 230px;
    height: 1230px;
}
/*Gauche*/
.txt-ic{
    display: flex;
    align-items: center;
}
.txt-ic h2{
    margin-left:-55px ;
}
.txt-ic img{
    margin-left: 245px;
    height: 20px;
}
.txt-ic img{
    cursor: pointer;
    background-color: #eff2f5;
    padding: 10px;
    border-radius: 999px;
  
}
.intro{
    width: 230px;
    margin-top: 78px;
    margin-left: -340px;
}
.side a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    color: black;
    width: 310px;
}
.gauche{
    position: fixed;
    width: 120px;

}
.side{
    margin-top: 15px;
    margin-left: -55px;
}
.side a img{
    width: 35px;
}
.side:hover{
    background-color: rgb(207, 248, 241);
    border-radius: 10px;
    width: 280px;
    padding: 5px 2px;
    height: 35px;
}
.text{
    margin-left: 10px;
}
/*contenu du milieu*/
.premiere{
    align-items: center;
    justify-content:space-between;
    margin-left: 330px;
    margin-top: 50px;
    box-shadow: 2px 2px 2px #ccc;
}
.premiere{
    height: 350px;
    border-radius: 8px;
    background-color: white;
}
.imgg img{
    width:  200px;
    height: 210px;
    border-top-left-radius:8px ;
    border-top-right-radius:8px ;
}
.oubli h3{
    font-family: sans-serif;
    font-size: 18px;
    width: 250px;
    margin-top: 13px;
    margin-left: -204px;
    position: relative;
    color: rgb(0, 0, 0);
}
.but button{
    display: flex;
}
.but{
    padding-left: 10px;
    margin-top: 15px;
}
.but button{
    padding-top: 5px;
    block-size: 35px;
}
.but button[class="aj"],button[class="sup"]{
    width: 180px;
    border-radius: 5px;
    border: none;
}
.but button[class="aj"]{
    font-size: 16px;
    margin-top: 20px;
    background: rgb(207, 248, 241);
    color: rgb(31, 162, 238);
    font-family: sans-serif;
    padding: 10px 59px;
}
.but button[class="sup"]{
    font-size: 16px;
    margin-top: 9px;
    background: #ccc;
    color: black;
    font-family: sans-serif;
    padding: 10px 53px;
}
.premiere p{
    color: rgb(0, 0, 0);
    margin: 10px 20px;
}
.deux{
    margin-left:-10px;
}
.trois{
    position: relative;
    left: -300px;
}
.quatre{
    position:relative;
    left: -590px;
}
.cinq{
    position:relative;
    top: 365px ;
    left: -1825.7px ;
}
.six{
    position:relative;
    top:365px ;
    left: -2120px;
}
.sept{
    position:relative;
    top:365px ;
    left:-2415px ;
}
.huit{
    position:relative;
    top:365px ;
    left:-2711px ;
}
.neuf{
    position: relative;
    top:730px ;
    left: -3945px;
}
.dix{
    position: relative;
    top:730px ;
    left: -4237px;
}
.onze{
    position: relative;
    top:730px ;
    left: -4535px; 
}
.douze{
    position: relative;
    top:730px ;
    left: -4828px; 
}
*le menu -user*/
.user{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.user img{
    height: 30px;
}
.jonas{
    display: flex;
}
.jonas img{
    height: 45px;
    border-radius: 50%;
}
.jonas p{
    margin-left:10px ;
    color: black;
}
.jonas a{
    margin-left: 10px;
    text-decoration: none;
    color: #626262;
}
.user p{
    margin-top: 10px;
    margin-left:10px ;
    color: black;
}
.user a{

    margin-left: 10px;
    text-decoration: none;
    color: #626262;
}
.user hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.parametre{
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius:5px;
    overflow: hidden;
    top: 109%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.4s;
}
/*pour le menu*/
.parametre-height{
    max-height: 450px;
}
.pad{
    padding: 20px;
}
.user a{
    font-size:12px;
    text-decoration: none;
}
.lien{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.lien .lien_ic{
    margin-right: 10px;
    border-radius:50%;
}
.lien a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content:space-between;
    text-decoration: none;
    color: #626262;
}
/*Le menu Notification*/
.notifications{
    position: absolute;
    width: 90%;
    height: 590px;
    max-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius:5px;
    overflow: hidden;
    top: 109%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.4s;
}
.notifications-height{
    max-height: 590px;
}
.mot-p{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
.mot-p{
    background-color:rgb(255, 255, 255);
    width: 315px;
}
.mot-p h3{
    font-family: sans-serif;
    font-size: 22px;
}
.mot-p img{
    height: 17px;
}
.user-ic{
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.user-ic, .mini-ic{
    
    position: relative;
    top: -10px;
}
.user-ic .ic{
    margin-right: 10px;
    border-radius:50%;
    height: 65px;
    border-radius:50%;
}
.user-ic .i{
    height: 15px;
}
.user-ic a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content:space-between;
    text-decoration: none;
    color: #626262;
}
.mini-ic{
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.mini-ic img{
    height: 40px;
    margin-top: -95px;
    margin-left:35px ;
}
.mini-ic p{
    font-family: sans-serif;
    margin-top: -85px;
    font-size: 15px;
    color: #2e81f4;
}
.nbre{
    margin-top: -45px;
}
.srl {
    overflow-y: scroll;
}
/*Menu messenger*/
.messenger{
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius:5px;
    overflow: hidden;
    top: 109%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.4s;
}
.messenger-height{
    max-height: 450px;
}
.mess-ic{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mess-ic h3{
    font-family: sans-serif;
    font-size: 22px;
}
.mess-ic img{
    height: 20px;
}
.inp{
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.inp{
    margin-top: 5px;
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    width: 300px;
    margin-left:10px;
    border-radius: 999px;
}
.inp img{
    height: 20px;
}
.inp input{
    font-family: sans-serif;
    font-size: 14px;
    border:none;
    background-color:transparent;
    outline-width:0;
    width: 100%;
}
.mess-user{
    padding-left: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.mess-user img{
    height: 55px;
    border-radius:50%
}
.mess-user h4{
    margin-left: 10px;
}
.mess-txt{
    color:#626262;
    font-family: sans-serif;
    font-size:12px;
    margin-top: -15px;
    margin-left:75px;
}
hr{
    border: 0;
    height: 1px;
    width: 325px;
    background: #9a9a9a;
    margin: 15px 10px;
}
a{
    text-decoration: none;
    color: #2e81f4;
}
.tout{
    font-family: sans-serif;
    margin-left: 75px;
    padding: 20px 5px;
}
.menu{
    padding: 0px 15px;
    position: absolute;
    width: 560px;
    max-width: 1250px;
    background: #dfdfdf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius:5px;
    overflow: hidden;
    top: 109%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.4s
}
.menu-height{
    max-height: 550px;
}
.menu .ti{
    font-family: sans-serif;
    font-size:22px
    
}
.gch{
    margin-top: 10px;
    border-radius: 8px;
    padding: 5px 5px;
    width: 335px;
    background-color:white;
    display: block;
    align-items: center;
}
.social{
    font-family: sans-serif;
    margin-left: 5px;
    margin-top: 10px;
}
.ev{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.ev img{
    margin-top: 15px;
    height: 35px;
}
.ev h3{
    font-family: sans-serif;
    font-size: 15px;
    margin-top: -10px;
    margin-left:15px ; 
}
.trouve{
    margin-top:-15px;
    margin-left: 60px;
    font-family: sans-serif;
    font-size:12px;
    color: rgb(114, 114, 114);
}
.droite{
   position: relative;
   top: -495px;
   left: 355px;
   margin-right: 150px;
    border-radius: 8px;
    padding: 9px 8px;
    width: 190px;
    background-color:white;
    display: block;
    align-items: center;
}
.pub{
    margin-top:15px;
    display: flex;
    align-items: center;
}
.pub img{
    margin-left: 8px;
    height: 20px;
}
.pub h3{
    font-size: 17px;
    font-family: sans-serif;
    margin-left:20px;
}
.pous{
    margin-left: 210px;
    display: flex;
}
/*Pour le message*/
.msgs{
    position: fixed;
    overflow: hidden;
    margin-top: 250px;
    margin-left: 880px;
    height: 100%;   
    background: rgb(255, 255, 255);
    border-radius: 8px;
    max-height: 0;
    width: 280px;
    transition: max-height 0.4s;

}
.msgs-height{
    max-height: 100%;
}
.inpt{
    padding: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aqui{
    margin-top:10px;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 220px;
    margin-left:3px;
}
.aqui input{
    border:none;
    background-color:transparent;
    outline-width:0;
}
.sug{
    margin-top:20px;
}
.sug h3{
    margin-left: 10px;
    font-family: sans-serif;
    font-size:15px;
}
.app{
    position: fixed;
    margin-top:540px;
    margin-left: 1200px;
    background-color:white;
    border-radius:50%;
    height: 50px;
    width: 50px;
    box-shadow: 5px 5px 5px #9a9a9a;
}
.ici img{
    position: relative;
    top: 14px;
    left: 15px;
    cursor: pointer;
}

